/*============================
=            Chart           =
============================*/
section {
}
.chart {
  @media screen and (max-width: 35em) {
    width: 105%;

    foreignObject div {
      transform: translateX(-4px);
    }
  }

  @include breakpoint('medium') {
    max-width: $size-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  svg {
    .stateModal {
      font-family: $font_inconsolata;
      line-height: 1.6;
      @include fontSize(12.5px);

      @include breakpoint('medium') {
        @include fontSize(18px);
      }

      .modal-heading {
        font-family: $font_source;
        font-weight: bold;
        letter-spacing: 1.4px;
        @include fontSize(16px);

        @include breakpoint('medium') {
          @include fontSize(24px);
        }
      }

      ul {
        li {
          &:before {
            @include fontSize(12px);
          }
        }
      }
    }

    .group {
      cursor: zoom-in;

      .label {
        @include fontSize(12px);
        fill: $black;
        stroke: $white;
        paint-order: stroke;
        stroke-width: 3px;
        text-transform: uppercase;
        font-weight: 800;
        transition: all 0.2s ease-in-out;

        @include breakpoint('medium') {
          @include fontSize(18px);
        }
      }

      .state {
        transition: all 0.2s ease-in-out;
        @media screen and (max-width: 35em) {
          stroke-width: 2 !important;
        }
      }

      .percent {
        @media screen and (max-width: 35em) {
          stroke-width: 0 !important;
        }
      }

      &:hover .state {
        stroke: #eae134;
      }
    }
  }
}

/*============================
=          Legend            =
============================*/

.legend {
  margin: 24px 12px 12px;

  @include breakpoint('medium') {
    margin: 24px 0 12px;
  }

  .legend-title {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font-family: $font_inconsolata;
    font-weight: 400;
    text-transform: uppercase;
    @include fontSize(14px);
    letter-spacing: 1.2px;
  }

  > .direction {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font-style: italic;
    @include fontSize(12px);
    margin-top: 6px;
  }

  .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;

    .legend-bar {
      font-family: $font_inconsolata;
      line-height: 1.2;
      position: relative;
      display: none;
      padding: 6px;
      background-color: $white;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: center;
      align-items: center;

      @include breakpoint('medium') {
        display: -ms-flexbox;
        display: flex;
        margin-left: 36px;
        width: 100%;
        -ms-flex: 0 0 224px;
        flex: 0 0 224px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: -24px;
          width: 1px;
          height: 120%;
          background-color: $black;
        }
      }

      > div {
        padding-left: 12px;
        @include fontSize(16px);

        .min-max {
          @include fontSize(14px);
        }
      }
    }

    .countries {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      @include breakpoint('medium') {
        -ms-flex: 0 0 calc(100% - 300px);
        flex: 0 0 calc(100% - 300px);
      }

      .legend-item {
        @include fontSize(16px);
        position: relative;
        display: -ms-flexbox;
        display: flex;
        box-sizing: border-box;
        margin: 0 6px 6px 0;
        -ms-flex: 1 0 47%;
        flex: 1 0 47%;

        @include breakpoint('medium') {
          -ms-flex: 1 0 auto;
          flex: 1 0 auto;
          margin: 0 6px 0 0;
        }
      }
    }
  }
}
