/*===================================
=            Page Layout            =
===================================*/
body {
  > *:not(.tooltip) {
    max-width: $size-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  .interactive__header {
    margin: 0 auto;

    .interactive__title {
      font-family: $font_source;
      margin: 1rem auto;
      @include fontSize(20px);
      line-height: 1.36;
      letter-spacing: 1.4px;
      color: $black;

      font-weight: bold;
      padding-bottom: 1.25rem;
      border-bottom: 0;
      text-align: center;
    }

    p {
      line-height: 1.78;
      @include fontSize(16px);
    }
  }

  .interactive__filters {
    margin: 0 auto 1rem;

    .search__suggestions {
      margin-top: 3px;
      margin-bottom: 0;
    }
  }

  .interactive__graphic {
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
  }

  .interactive__source {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    border-top: 1px solid $black;

    p {
      margin: 0.5rem 0 0;
      @include fontSize(14px);
      font-family: $font-source;
      color: $gray;
    }
  }

  .instructions {
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 6px;
    width: calc(100% - 275px);
    text-align: right;
  }
}
