/*=====================================
=            Form Elements            =
=====================================*/
.legend-label {
  font-family: $font_inconsolata;
  &:before {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    content: '';
    transition: 0.2s;
    vertical-align: -0.2em;
    border: 1px solid$black;
  }

  &.all:before {
    background-color: $yellow;
  }
  &.china:before {
    background-color: $red;
  }
  &.canada:before {
    background-color: $green;
  }
  &.eu:before {
    background-color: $blue;
  }
  &.mexico:before {
    background-color: $orange;
  }
}

input {
  @include fontSize(18px);
  line-height: 1.78;
  position: absolute;
  top: 1px;
  left: 2px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  opacity: 0;

  &:not(:checked) {
    cursor: pointer;
  }

  &:checked + label::after {
    font-family: 'tradeguys';
    font-weight: bold;
    position: absolute;
    top: 1px;
    left: 1px;
    content: '\e878';
    cursor: pointer;
    color: $black;
  }
}
