/*================================
=            Tooltips            =
================================*/

.tooltip,
.tooltip-info {
  display: block;
  @include fontSize(14px);
  line-height: 1.4;
  position: absolute;
  z-index: 20;
  visibility: hidden;
  width: fit-content;
  max-width: 175px;
  height: auto;
  margin: 0 15px;
  padding: 8px 8px 10px;
  pointer-events: none;
  opacity: 0;
  border: 1px solid $disabled-gray;
  border-radius: 3px;
  background-color: $white;

  p {
    margin: 0;
  }

  .tooltip-heading {
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
    border-bottom: 1px solid $black;

    @include breakpoint('medium') {
      line-height: 1.4;
    }

    .location {
      display: block;
      @include fontSize(10px);
      font-style: italic;
    }
  }

  .tooltip-label {
    text-transform: capitalize;

    &.indented {
      padding-left: 0.75rem;
    }
  }

  .tooltip-list {
    li {
      @include fontSize(14px);

      &:before {
        @include fontSize(9px);
      }
    }

    .active-category {
      font-weight: bold;
    }
  }

  .tooltip-close {
    font-weight: bold;
    position: absolute;
    z-index: 25;
    top: 0.25rem;
    right: 0.5rem;
    display: block;
    width: 25%;
    text-align: right;
    pointer-events: all;

    @include breakpoint('medium') {
      display: none;
    }
  }
}

.tooltip-info {
  max-width: 100px;

  @include breakpoint('medium') {
    max-width: 300px;
  }
}
