body {
  --breakpoint: 'xsmall';
  font-family: $font-source;
  font-size: $browser-context;
  margin: 0;
  padding: 0 1rem;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint('small') {
    --breakpoint: 'small';
  }

  @include breakpoint('medium') {
    --breakpoint: 'medium';
  }

  @include breakpoint('large') {
    --breakpoint: 'large';
  }
}

p {
  margin: 0 0 1.5rem;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

/*=============================
=            Links            =
=============================*/

%dashed-underline {
  border-bottom: 1px dashed $black;
}

%external-links {
  a[href*="//"]:not([href*="tradeguys.csis.org"]) {
    position: relative;
    margin-left: 1.5rem;
    &::before {
      position: absolute;
      left: -1.5rem;
      content: '\f39c';
      font-family: 'tradeguys';
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:visited {
  }
  &:hover,
  &:focus,
  &:active {
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }

  p &,
  .post-content ul &,
  .post-content ol & {
    @extend %dashed-underline;
    @include wipe-link-hover-background($yellow);
  }
}
/*=============================
=            Lists            =
=============================*/
ul {
  margin: 0;
  padding-inline-start: 24px;
  list-style: none;

  li {
    font-family: $font_inconsolata;
    &:before {
      font-family: $font_source;
      font-weight: bold;
      line-height: 1;
      position: relative;
      top: -0.1rem;
      display: inline-block;
      width: 1rem;
      margin-left: -1.5rem;
      content: '\2588';
    }

    &.china::before {
      color: $red;
    }
    &.eu::before {
      color: $blue;
    }
    &.mexico::before {
      color: $orange;
    }
    &.canada::before {
      color: $green;
    }
  }
}
